.nav-bar {
  background-color: #e5f7b3;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 700px;
}
.nav-links li {
  margin-right: 5rem;
  font-size: 2rem;
}
.login button{
  margin: 0px;
  padding: 0px;
  font-size: 1.5rem;
}
.login{
  padding-left: 30px;
}
